body {
  font-family: Arial;
  text-align: center;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  margin: auto;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 8px;
}
